* {
  margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

*:after,
*:before {
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
  font-family: 'gothampro-bold';
  font-size: 12px;
  color: #000;
}

.wrapper {
	width: 88%;
  margin: 0 auto;
}

.header {
	display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.header-left,
.header-right {
	display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left .menu__item:first-child {
	margin-left: 45px;
}

.header-right .menu__item:first-child {
	margin-left: 36px;
}

.menu__item {
  position: relative;
  opacity: .8;
  margin-left: 32px;
  color: #000;
  text-decoration: none;
  transition: opacity .3s;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width .5s;
} 

.menu__item:hover::after {
  width: 100%;
} 

.menu__item:hover {
  opacity: 1;
}

.menu__item > span {
	font-size: 10px;
  padding: 1px 5px;
  border-radius: 50%;
  background-color: black;
  color: #fff;
  margin-left: 4px;
}

.search {
	margin-top: 7px;
  border-bottom: 1px solid;
}

.input {
	border: none;
	width: 161px;
}

.flag {
  padding-left: 35px;	
}

.intro {
  position: relative;
  color: #fff;
  font-family:'gothampro-medium', arial, helvetica, sans-serif;
  margin-bottom: 130px;
}


.intro__inner {
	padding: 88px 0 0 59px;
}

.intro__img {
	width: 100%;
	max-width: 1030px;
	position: absolute;
	z-index: -1;
}

.intro__title {
	font-size: 30px;
  line-height: 29px;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 200px;
  margin-bottom: 17px;
}

.batton {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 145px;
  transition: opacity .3s;
}

.batton:hover {
  opacity: .7;
}

.batton__text {
  display: inline-block;
  font-size: 12px;
  line-height: 11px;
  font-weight: 500;
}

.batton__arrow {
  position: absolute;
  width: 142px;
  height: 16px;
  top: -4px;
  left: -1px;
}

.batton__arrow div {
  position: relative;
  top: 8px;
  left: 79px;
  width: 43px;
  height: 1px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transition: opacity .3s;
}

.batton__arrow div::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: -2px;
  right: 0;
  background-color: #fff;
  transform: rotate(45deg);
}

.batton__arrow div::before {
  content: '';
  position: absolute;
  width: 5px;
  height: 1px;
  top: 2px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}

.batton_black {
  color: black;
}

.batton__arrow_shift div {
  left: 95px;
}

 .batton__arrow_black div,
 .batton__arrow_black div::after,
 .batton__arrow_black div::before {
   background-color: #000;
}

.product {
  margin-bottom: 51px;
}

.product__title {
  text-align: center;
  font-size: 22px;
  line-height: 21px;
  margin-bottom: 18px;
}

.product__row {
  display: flex;
  justify-content: space-between;
}

.product__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 234px;
}

.product__img {
  margin: 0px auto 27px;
}

.product__item::after {
  content: '';
  position: absolute;
  width: 42%;
  height: 1px;
  background-color: rgba(0, 0, 0, .2);
  left: 200px;
  top: 92px;
  transform: rotate(90deg);
}

.product__item:last-child {
  padding-left: 4px;

}

.product__item:last-child::after {
  background-color: transparent;
}

.product__text {
  display: block;
  font-family: 'gothampro-regular', arial, helvetica, sans-serif;
  margin: 0 0 6px 13px;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 88%;
  margin: 0 auto;
}

.product-price__text {
  display: inline-block;
  font-size: 13px;
}

.circle {
 display: flex;
 justify-content: flex-end;
 align-items: center;
}

.circle__item {
  width: 7px;
  height: 7px;
  margin-left: 8px;
  border-radius: 50%;
  background-color: #C4C4C4;
}

.circle__item_black {
  background-color: #0E1211
}

.circle__item_orange {
  background-color: #E29D69
}

.circle__item_red {
  background-color: #B62E3C
}

.circle__item_yellow {
  background-color: #FDB431
}

.circle__item_brown {
  background-color: #762E31
}

.circle__item_blue {
  background-color: #41479B
}

.circle__item_ocean {
  background-color:  #257DA9
}

.circle__item_big {
  width: 9px;
  height: 9px;
}

.video-block {
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
}

.video-block__left {
  position: relative;
  padding: 67px 33px;
}

.video-block__play {
  position: absolute;
  top: 44%;
  left: 46%;
}
.video-block__play:hover {
  cursor: pointer;
  opacity: .8;
}

.video-block__right {
  padding: 0 41px 0 9px;
  height: 191px;
}

.video-block__title {
  font: 500 22px/27px 'gothampro-medium', arial, helvetica, sans-serif;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.video-block__text {
  font: 300 14px/17px 'gothampro-light', arial, helvetica, sans-serif;
  margin-bottom: 22px;
}


























